{{ define "content" }}

  {{ $include_dict := dict "Site" .Site "page" . "image" .Site.Data.config.header.background_img }}
  {{ partial "header.html" $include_dict }}

  <div id="content" class="site-content">
    <main id="main" class="site-main inner">

            <Section className="section narrow">
                {{ partial "articles/list.html" . }}
        <div class="articles-paginator">
    
            </div>
        </Section>
<div class="articles-gradient"></div>



        </div><!-- .post-feed -->



<div class="page-feed">
  <h1>LATEST NEWS</h1>
  <div class="archive-feed">
    <article class="article-feed">1
      <hr class="image-feed">
      <hr>
    </article>
    <article class="article-feed">2
      <hr>
      <hr>
      <hr>
      <hr>
      <hr>
    </article>
    <article class="article-feed">3
      <hr>
      <hr>
      <hr>
    </article>
    <article class="article-feed">4
      <hr class="image-feed"><hr>
      <hr>
      <hr>
      <hr>
      <hr>
      <hr>
    </article>
    <article class="article-feed">5
      <hr>
      <hr>
      <hr>
    </article>
    <article class="article-feed">6
      <hr>
      <hr>
      <hr>
    </article>
    <article class="article-feed">7
      <hr>
      <hr>
      <hr>
    </article>
    <article class="article-feed">8
      <hr>
      <hr>
    </article>
    <article class="article-feed">9
      <hr>
      <hr>
      <hr>
    </article>
    <article class="article-feed">10
      <hr>
      <hr>
    </article>
    <article class="article-feed">11
      <hr>
      <hr>
      <hr>
    </article>
    <article class="article-feed">12
      <hr class="image-feed"><hr>
      <hr>
      <hr>
    </article>
    <article class="article-feed">13
      <hr class="image-feed"><hr>
      <hr>
    </article>
    <article class="article-feed">14
      <hr>
      <hr>
      <hr>
      <hr>
      <hr>
      <hr>
      <hr>
      <hr>
      <hr>
    </article>
    <article class="article-feed">15
      <hr class="image-feed">
      <hr>
      <hr>
      <hr>
      <hr>
    </article>
    <article class="article-feed">16
      <hr>
      <hr>
      <hr>
      <hr>
      <hr>
      <hr>
    </article>
    <article class="article-feed">17<hr>
      <hr>
      <hr></article>
  </div>
</div>



    </main><!-- .site-main -->

    {{ partial "footer.html" $include_dict }}

  </div><!-- .site-content -->

{{ end }}
