{{ define "content" }}
{{ $include_dict := dict "Site" .Site "page" . "image" .Params.img_path "tagline" .Params.tagline }}
{{ partial "header.html" $include_dict }}
<div id="content" class="site-content">
  <main id="main" class="site-main inner">
    <h1>{{ .Title }}</h1>
    <ul>
    {{ range .Data.Pages }}
      <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
    {{ end }}
    </ul>
  </main><!-- .site-main -->

  {{ partial "footer.html" $include_dict }}

</div><!-- .site-content -->
{{ end }}
