{{ $permalink := .Permalink }}
<div class="card">
    <div class="post-thumbnail">
        <figure class="thumbnail, image-feed">
            {{ with .Params.thumb_img_path }}
            <a href="{{ $permalink }}"><img src="{{ index . 0 }}" alt=""></a>
            {{ end }}
        </figure>
    </div>
    <div class="post-header">
        <a class="post-title" href="{{ .RelPermalink }}">{{ .Params.title }}</a>
        <span class="post-meta"><time>{{ .PublishDate.Format "January 2, 2006"}}</time></span>
    </div>
</div>